* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.post {
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 4px 10px black;
}
.box {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.box img {
  width: 40px;
  border-radius: 50%;
}
.box input {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 8px;
  background-color: lightgray;
}
.attachment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.fa-solid,
.fa-regular {
  color: plum;
  letter-spacing: 8px;
}
hr {
  width: 95%;
  margin: auto;
  color: rgba(128, 128, 128, 0.5);
}
a {
  text-decoration: none;
}
